# Logs
logs
*.log
npm-debug.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Compiled binary addons
build/Release

# Dependency directories
node_modules/
jspm_packages/

# Environment variabiles from .env
.env
.env.development
.env.production
.env.docker

# Dist folder bundled from typescript
dist
